.sidebar{
    background-color: var(--default-theme-background);
    border-top: 2px solid #252525;;
    width: 260px;
    height: calc(100vh - 62px);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: background-color 0.3s linear;
}

.title_sidebar{
    color: var(--default-title-sidebar-theme-text);
    font-family: Rubik;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    padding-left: 11px;
}

.project_block, .workspace_block{
    padding: 31px 21px 21px 12px;
}

.container_itens{
    margin-top: 19px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
    
    color: #878787;
}

.sidebar_link{
    display: flex;
    align-items: center;
    gap: 4px;

    padding: 2px 2px 2px 0px;
}

.sidebar_link:not(.active):hover,
.sidebar_link:not(.active):hover svg{
    color: #a9a9a9;
    fill: #a9a9a9;
}

.sidebar_icons{
    width: 15px;
    height: 15px;

    fill: #878787;
    padding-left: 8px;
}

.sidebar_text{
    font-family: Rubik;
    font-size: 15px;
}

.separador{
    width:228px;
    height: 1px;
    margin-left: 10px;
    
    background-color: #252525;
}
